@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 0.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0.2 84% 4.9%;
    --primary: 0 0% 0.4%;
    --primary-foreground: 0 40% 98%;
    --secondary: 0 40% 96.1%;
    --secondary-foreground: 0.2 47.4% 11.2%;
    --muted: 0 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0 0% 0.4%;
    --accent-foreground: 0 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 40% 98%;
    --border: 0.3 31.8% 91.4%;
    --input: 0.3 31.8% 91.4%;
    --ring: 0 0% 0.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}